@font-face {
 font-family: 'Helvetica Neue';
 font-style: normal;
 src: url('/fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'),
}

@font-face {
 font-family: 'Helvetica Neue';
 font-weight: 100;
 font-style: normal;
 src: url('/fonts/HelveticaNeue/HelveticaNeue-UltraLight.woff') format('woff'),
}

@font-face {
 font-family: 'Helvetica Neue';
 font-weight: 200;
 font-style: normal;
 src: url('/fonts/HelveticaNeue/HelveticaNeue-Light.woff') format('woff'),
}

@font-face {
 font-family: 'Helvetica Neue';
 font-weight: bold;
 font-style: normal;
 src: url('/fonts/HelveticaNeue/HelveticaNeue-Bold.woff') format('woff'),
}